# Загружаем библиотеки

In [1]:
%matplotlib inline

import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
import time
from sklearn.externals import joblib
import Recommenders as Recommenders
import Evaluation as Evaluation

# Загружаем Dataset с рейтингом еды, а также смотрим сколько уникальных пользователей и блюд

In [2]:
rating = pd.read_csv('Dataset/Eats_Rating_Dataset.csv', encoding = 'utf-8')

#Count unique data in dataset
users = rating['user_id'].unique()
print('Users:', len(users))

eats = rating['eats_id'].unique()
print('Eats:', len(eats))

print('All dataset', rating.shape)

Users: 120
Eats: 775
All dataset (1200, 3)

In [3]:
#Загружаем датасет с названием еды
eats_names = pd.read_csv('Dataset/Eats_Names_Dataset.csv', encoding = 'utf-8')
eats_names.rename(index=str,columns={'eat_id':'eats_id'}, inplace=True)

In [9]:
rating.head(3)

   user_id  eats_id  rating
0       42     1105       1
1       23      759       0
2       10       40       0

In [10]:
eats_names.head(3)

,eats_id,Food name,CHO (g/100g),GI value,GL,GI confidence level
0,1,Goats milk soft cheese. full fat. white rind,1.0,34.0,0.0,3
1,2,White bread. West Indian,58.8,72.0,42.0,3
2,3,White bread. aerated. slimmers,50.9,72.0,37.0,3

In [4]:
result = pd.merge(eats_names, rating, on='eats_id')

# Финальный датасет

In [5]:
print(result.shape)
result.head()

(1199, 8)

,eats_id,Food name,CHO (g/100g),GI value,GL,GI confidence level,user_id,rating
0,1,Goats milk soft cheese. full fat. white rind,1.0,34.0,0.0,3,66,1
1,6,Chinese herb soup. mixture 3. ching bo leung. ...,3.7,70.0,3.0,5,47,1
2,9,Sag. cooked dish,5.5,70.0,4.0,5,35,0
3,10,Milk cow's. powder. skimmed,52.8,45.0,24.0,4,3,0
4,10,Milk cow's. powder. skimmed,52.8,45.0,24.0,4,65,1

# Создаем рекомендации еды

In [6]:
train_data, test_data = train_test_split(result, test_size = 0.20, random_state=0)

# Делаем предсказание еды для определенного пользователя

In [7]:
pm = Recommenders.popularity_recommender_py()
pm.create(train_data, 'user_id', 'Food name')

user_id = users[5]
a = pm.recommend(user_id)
a.head()

     user_id                                          Food name  score  Rank
62        48         Boots shapers cheese salad sandwich (180g)      4   1.0
91        48  Cheese & Veg. omelette (Slimming World 35-004-...      4   2.0
107       48             Chicken and Mushroom Rice (Sharwood's)      4   3.0
163       48                                  Dried Blueberries      4   4.0
231       48            Hot and spicy chicken steaks (Farmfood)      4   5.0

In [8]:
a.tail()

     user_id                                          Food name  score  Rank
331       48                                      Olivio spread      4   6.0
622       48                                    light soy sauce      4   7.0
625       48                      millionaires biscuits (Fox's)      4   8.0
0         48  3 min noodles won ton flavour dry wght(Blue Dr...      3   9.0
25        48                          Asda Chicken Tikka Masala      3  10.0