In [1]:
import numpy as np 
import pandas as pd

In [2]:
dataset = pd.read_csv('Dataset/Original/Eats_Rating_Dataset.csv', encoding = 'utf-8')
dataset.head()

,eat_id,Food name,CHO (g/100g),GI value,GL,GI confidence level
0,1,Goats milk soft cheese. full fat. white rind,1.0,34.0,0.0,3
1,2,White bread. West Indian,58.8,72.0,42.0,3
2,3,White bread. aerated. slimmers,50.9,72.0,37.0,3
3,4,Homemade biscuits. rubbing-in method,61.7,63.0,39.0,3
4,5,Chickpeas/Bengal gram. raw,50.0,28.0,14.0,2

In [3]:
dataset.columns

Index(['eat_id', 'Food name', 'CHO (g/100g)', 'GI value', 'GL',
       'GI confidence level'],
      dtype='object')

In [4]:
columns = ['Food name', 'CHO (g/100g)', 'GI value', 'GL',
       'GI confidence level']

In [5]:
dataset = dataset.drop(columns, axis='columns')

In [8]:
dataset = dataset.head(1200)

In [9]:
dataset.shape

(1200, 1)

In [10]:
dataset.rename(index=str,columns={'eat_id':'user_id'}, inplace=True)

In [11]:
dataset.head()

   user_id
0        1
1        2
2        3
3        4
4        5

In [14]:
dataset['user_id'] = np.random.randint(1, 121, dataset.shape[0])

In [15]:
dataset.user_id.unique()

array([ 42,  23,  10,  76,   1,  48,  58,   5,  62,  34,  31, 103, 109,
       116,  22,  77, 120,  40,  93,  98,  87,  38,  47,  67,  99,  82,
        53,  24,  46,  44,  73, 102,  70, 114,  65,  13,  89,  63,  69,
        51, 110,  45,   4,  26,  79, 119,  29,  90,  80,   9,   2,  21,
        52, 101,  56,  86,  18,  84,  96, 111,  50, 108,  59,  61, 105,
        95,  41,  32,  27,  71, 113,  64,  92, 106, 118,  20,  66,  33,
        43,   6,  57,  75,  19,  25,  60,  15,  54,  11,  68,  37,  17,
        35,  81,  72,  36,   8,  30,  83,  28,  85,  88,  91,  49,   3,
       115,  16, 104, 117,  94,   7,  55,  78, 100, 112,  74, 107,  97,
        14,  39,  12])

In [17]:
dataset['eats_id'] = np.random.randint(1, 1233, dataset.shape[0])

In [18]:
dataset.shape[0]

1200

In [20]:
dataset['rating'] = np.random.randint(0, 2, dataset.shape[0])

In [21]:
dataset.head()

   user_id  eats_id  rating
0       42     1105       1
1       23      759       0
2       10       40       0
3       76      206       1
4        1     1139       1

# Save File

In [22]:
file_name = 'Eats_Rating_Dataset.csv'
dataset.to_csv(file_name, encoding='utf-8', index=False)