In [12]:
import numpy as np 
import pandas as pd
from random import randint

In [3]:
dataset = pd.read_csv('Dataset/User_Dataset.csv', encoding = 'utf-8')
dataset.head()

,eat_id,Food name,CHO (g/100g),GI value,GL,GI confidence level
0,1,Goats milk soft cheese. full fat. white rind,1.0,34.0,0.0,3
1,2,White bread. West Indian,58.8,72.0,42.0,3
2,3,White bread. aerated. slimmers,50.9,72.0,37.0,3
3,4,Homemade biscuits. rubbing-in method,61.7,63.0,39.0,3
4,5,Chickpeas/Bengal gram. raw,50.0,28.0,14.0,2

In [4]:
dataset_hundred = dataset.head(100)

In [5]:
dataset_hundred.shape

(100, 6)

In [6]:
dataset_hundred.rename(index=str,columns={'eat_id':'user_id'}, inplace=True)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [8]:
dataset_hundred.columns

Index(['user_id', 'Food name', 'CHO (g/100g)', 'GI value', 'GL',
       'GI confidence level'],
      dtype='object')

In [9]:
columns_drop = ['Food name', 'CHO (g/100g)', 'GI value', 'GL',
       'GI confidence level']

In [10]:
dataset_hundred = dataset_hundred.drop(columns_drop, axis='columns')

In [17]:
dataset_hundred['age'] = np.random.randint(15, 73, dataset_hundred.shape[0])

In [18]:
dataset_hundred.age.unique()

array([29, 19, 20, 32, 39, 70, 38, 61, 64, 22, 43, 52, 17, 46, 35, 25, 45,
       44, 31, 21, 60, 55, 30, 37, 72, 36, 58, 53, 28, 40, 48, 26, 24, 67,
       71, 65, 69, 41, 50, 63, 54, 16, 51, 66, 56, 18])

In [23]:
dataset_hundred['sex'] = np.random.randint(0, 2, dataset_hundred.shape[0])

In [25]:
#1 - Female 0 - male
dataset_hundred.head()

   user_id  age  sex
0        1   29    1
1        2   19    0
2        3   20    1
3        4   32    1
4        5   39    1

In [29]:
dataset_hundred[dataset_hundred['sex'] == 1].shape

(47, 3)

# IN FUTURE ADD OTHER RANDOM FOR SEX

In [32]:
dataset_hundred['height'] = np.random.randint(158, 190, dataset_hundred.shape[0])

In [33]:
dataset_hundred['weight'] = np.random.randint(55, 100, dataset_hundred.shape[0])

In [34]:
dataset_hundred['type_diabets'] = np.random.randint(1, 3, dataset_hundred.shape[0])

In [35]:
dataset_hundred.head()

   user_id  age  sex  height  weight  type_diabets
0        1   29    1     170      83             1
1        2   19    0     174      78             1
2        3   20    1     177      93             2
3        4   32    1     187      57             2
4        5   39    1     174      84             2

# TO CSV

In [37]:
file_name = 'User_Dataset.csv'
dataset_hundred.to_csv(file_name, encoding='utf-8', index=False)