# Building a insulin recommender

In [17]:
%matplotlib inline

import pandas as pd
from sklearn.cross_validation import train_test_split
import numpy as np
import time
from sklearn.externals import joblib
import Recommenders as Recommenders
import Evaluation as Evaluation

# Load Eats Data

In [7]:
rating = pd.read_csv('Dataset/Eats_Rating_Dataset.csv', encoding = 'utf-8')

# Explore Data
Eats show like user this food or not

In [8]:
rating.head()

   user_id  eats_id  rating
0       42     1105       1
1       23      759       0
2       10       40       0
3       76      206       1
4        1     1139       1

# Count number of unique users in the dataset

In [10]:
users = rating['user_id'].unique()

In [11]:
len(users)

120

# Count number of unique users in the dataset

In [14]:
eats = rating['eats_id'].unique()
len(eats)

775

# Load dataset Eats Names

In [33]:
eats_names = pd.read_csv('Dataset/Eats_Names_Dataset.csv', encoding = 'utf-8')

In [39]:
eats_names.rename(index=str,columns={'eat_id':'eats_id'}, inplace=True)

In [43]:
result = pd.merge(eats_names, rating, on='eats_id')

In [45]:
print(result.shape)
result.head()

(1199, 8)

,eats_id,Food name,CHO (g/100g),GI value,GL,GI confidence level,user_id,rating
0,1,Goats milk soft cheese. full fat. white rind,1.0,34.0,0.0,3,66,1
1,6,Chinese herb soup. mixture 3. ching bo leung. ...,3.7,70.0,3.0,5,47,1
2,9,Sag. cooked dish,5.5,70.0,4.0,5,35,0
3,10,Milk cow's. powder. skimmed,52.8,45.0,24.0,4,3,0
4,10,Milk cow's. powder. skimmed,52.8,45.0,24.0,4,65,1

In [48]:
result.isnull().any()

eats_id                False
Food name              False
CHO (g/100g)           False
GI value               False
GL                     False
GI confidence level    False
user_id                False
rating                 False
dtype: bool

# Create a eats recommender

In [49]:
train_data, test_data = train_test_split(result, test_size = 0.20, random_state=0)
print(train_data.head(5))

     eats_id                                     Food name  CHO (g/100g)  \
867      888                                  Coffee latte           8.0
741      767       Jacobs Thai Bites (Sweet Herb flavour)           82.8
467      514  Tomatoes chopped with basil - tinned (Biona)           2.9
442      496              Organic crunchy cereal (Jordans)          57.2
610      644                        Knorr Fish Stock Cubes          17.8

     GI value    GL  GI confidence level  user_id  rating
867      34.0   3.0                    3       87       1
741      63.0  52.0                    3        3       1
467      45.0   1.0                    4       49       0
442      55.0  31.0                    3       62       0
610      70.0  12.0                    5       44       0

# Simple popularity-based recommender class (Can be used as a black box)

# Create an instance of popularity based recommender class

In [52]:
pm = Recommenders.popularity_recommender_py()
pm.create(train_data, 'user_id', 'Food name')

# Use the popularity model to make some predictions

In [53]:
user_id = users[5]
pm.recommend(user_id)

     user_id                                          Food name  score  Rank
62        48         Boots shapers cheese salad sandwich (180g)      4   1.0
91        48  Cheese & Veg. omelette (Slimming World 35-004-...      4   2.0
107       48             Chicken and Mushroom Rice (Sharwood's)      4   3.0
163       48                                  Dried Blueberries      4   4.0
231       48            Hot and spicy chicken steaks (Farmfood)      4   5.0
331       48                                      Olivio spread      4   6.0
622       48                                    light soy sauce      4   7.0
625       48                      millionaires biscuits (Fox's)      4   8.0
0         48  3 min noodles won ton flavour dry wght(Blue Dr...      3   9.0
25        48                          Asda Chicken Tikka Masala      3  10.0

In [54]:
user_id = users[16]
pm.recommend(user_id)

     user_id                                          Food name  score  Rank
62       120         Boots shapers cheese salad sandwich (180g)      4   1.0
91       120  Cheese & Veg. omelette (Slimming World 35-004-...      4   2.0
107      120             Chicken and Mushroom Rice (Sharwood's)      4   3.0
163      120                                  Dried Blueberries      4   4.0
231      120            Hot and spicy chicken steaks (Farmfood)      4   5.0
331      120                                      Olivio spread      4   6.0
622      120                                    light soy sauce      4   7.0
625      120                      millionaires biscuits (Fox's)      4   8.0
0        120  3 min noodles won ton flavour dry wght(Blue Dr...      3   9.0
25       120                          Asda Chicken Tikka Masala      3  10.0

# Create an instance of item similarity based recommender class

In [55]:
is_model = Recommenders.item_similarity_recommender_py()
is_model.create(train_data, 'user_id', 'Food name')

## Use the personalized model to make some song recommendations

In [56]:
#Print the songs for the user in training data
user_id = users[5]
user_items = is_model.get_user_items(user_id)
#
print("------------------------------------------------------------------------------------")
print("Training data eats for the user userid: %s:" % user_id)
print("------------------------------------------------------------------------------------")

for user_item in user_items:
    print(user_item)

print("----------------------------------------------------------------------")
print("Recommendation process going on:")
print("----------------------------------------------------------------------")

#Recommend songs for the user using personalized model
is_model.recommend(user_id)

------------------------------------------------------------------------------------
Training data eats for the user userid: 48:
------------------------------------------------------------------------------------
Alpen muesli original (Weetabix)
Jacobs Iced Gems 30g bag
fruit compote (Morton)
Chicken korma (Sainsburys)
----------------------------------------------------------------------
Recommendation process going on:
----------------------------------------------------------------------
No. of unique songs for the user: 4
no. of unique songs in the training set: 667
Non zero values in cooccurence_matrix :51

  user_id                                              song     score rank
0      48                        Viennetta biscuit (Walls)   0.125000    1
1      48             Chicken masala with rice (Sutherland)  0.125000    2
2      48                           Viennese Whirls (Lyons)  0.125000    3
3      48                                     Bingo biscuit  0.125000    4
4      48                                      Jelly Babies  0.125000    5
5      48               Kelloggs Frosties Cereal & Milk Bar  0.083333    6
6      48                            Club biscuit (Jacobs)   0.083333    7
7      48    Fanta fruit twist (orange peach passion fruit)  0.083333    8
8      48                             Asda Soft Grain Bread  0.083333    9
9      48  Carrot & Lentil soup (Slimming World 35-004-01s)  0.083333   10

### Use the personalized model to make recommendations for the following user id. (Note the difference in recommendations from the first user id.)Â¶

In [57]:
user_id = users[7]
#Fill in the code here
user_items = is_model.get_user_items(user_id)
#
print("------------------------------------------------------------------------------------")
print("Training data eats for the user userid: %s:" % user_id)
print("------------------------------------------------------------------------------------")

for user_item in user_items:
    print(user_item)

print("----------------------------------------------------------------------")
print("Recommendation process going on:")
print("----------------------------------------------------------------------")

#Recommend songs for the user using personalized model
is_model.recommend(user_id)

------------------------------------------------------------------------------------
Training data eats for the user userid: 5:
------------------------------------------------------------------------------------
Olivio spread
Individual Bakewell Tart (Tesco)
Benecol Strawberry Yoghurt
Chinese veg stir fry
St Pierre Brioche
Tesco Organic Sundried Tomato Houmous
Montana Bakery garlic doughballs (9g each)
----------------------------------------------------------------------
Recommendation process going on:
----------------------------------------------------------------------
No. of unique songs for the user: 7
no. of unique songs in the training set: 667
Non zero values in cooccurence_matrix :89

  user_id                                           song     score rank
0       5  Craisins cranberries (Original) - Ocean Spray  0.071429    1
1       5                              LF Prawn Cocktail  0.071429    2
2       5                                  kettle crisps  0.071429    3
3       5        Spaghetti Bolognese ready meal (Tesco)   0.071429    4
4       5                              Solero ice cream   0.071429    5
5       5                            Rocky Biscuit (Red)  0.047619    6
6       5               Marshmallow teacakes (Tunnocks)   0.047619    7
7       5                              Tagliatelle (Dry)  0.047619    8
8       5              Heinz mild mustard pickle (Heinz)  0.047619    9
9       5                 snack a jacks cheese and chive  0.047619   10

### Model to find similar eats to any eats in the dataset

In [61]:
is_model.get_similar_items(['Barleycup Cereal Drink Powder'])

no. of unique songs in the training set: 667
Non zero values in cooccurence_matrix :8

  user_id                                               song  score rank
0          Sutherland Triple Selection Sandwich (BLT Ham&...    1.0    1
1          Spinach & Ricotta Tortellini made from dry pro...    1.0    2
2                                      Wholemeal pitta bread    1.0    3
3                                       Granulated Canderel     1.0    4
4                        All-Bran Flakes Chocolate (Kellogg)    0.5    5
5                        Health Eating Broccoli Quiche-Tesco    0.5    6
6                                               Walnut Bread    0.5    7
7                     Sainsbury's Oriental Vegetable Stirfry    0.0    8
8                                       Fresh Mushroom Sauce    0.0    9
9                half fat cheese slices 5g (Marks & Spencer)    0.0   10