# Building a insulin recommender

In [15]:
%matplotlib inline

import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
import time
from sklearn.externals import joblib
import Recommenders as Recommenders
import Evaluation as Evaluation

# Load Eats Data

In [4]:
rating = pd.read_csv('Dataset/Eats_Rating_Dataset.csv', encoding = 'utf-8')

# Explore Data
Eats show like user this food or not

In [5]:
rating.head()

   user_id  eats_id  rating
0       42     1105       1
1       23      759       0
2       10       40       0
3       76      206       1
4        1     1139       1

# Count number of unique users in the dataset

In [6]:
users = rating['user_id'].unique()

In [7]:
len(users)

120

# Count number of unique users in the dataset

In [8]:
eats = rating['eats_id'].unique()
len(eats)

775

# Load dataset Eats Names

In [9]:
eats_names = pd.read_csv('Dataset/Eats_Names_Dataset.csv', encoding = 'utf-8')

In [10]:
eats_names.rename(index=str,columns={'eat_id':'eats_id'}, inplace=True)

# Merge Two Data Sets

In [11]:
result = pd.merge(eats_names, rating, on='eats_id')

In [12]:
print(result.shape)
result.head()

(1199, 8)

,eats_id,Food name,CHO (g/100g),GI value,GL,GI confidence level,user_id,rating
0,1,Goats milk soft cheese. full fat. white rind,1.0,34.0,0.0,3,66,1
1,6,Chinese herb soup. mixture 3. ching bo leung. ...,3.7,70.0,3.0,5,47,1
2,9,Sag. cooked dish,5.5,70.0,4.0,5,35,0
3,10,Milk cow's. powder. skimmed,52.8,45.0,24.0,4,3,0
4,10,Milk cow's. powder. skimmed,52.8,45.0,24.0,4,65,1

In [13]:
# Проверяем есть ли отсутствующие значения
result.isnull().any()

eats_id                False
Food name              False
CHO (g/100g)           False
GI value               False
GL                     False
GI confidence level    False
user_id                False
rating                 False
dtype: bool

# Create a eats recommender

In [14]:
train_data, test_data = train_test_split(result, test_size = 0.20, random_state=0)
print(train_data.head(5))

     eats_id                                     Food name  CHO (g/100g)  \
867      888                                  Coffee latte           8.0
741      767       Jacobs Thai Bites (Sweet Herb flavour)           82.8
467      514  Tomatoes chopped with basil - tinned (Biona)           2.9
442      496              Organic crunchy cereal (Jordans)          57.2
610      644                        Knorr Fish Stock Cubes          17.8

     GI value    GL  GI confidence level  user_id  rating
867      34.0   3.0                    3       87       1
741      63.0  52.0                    3        3       1
467      45.0   1.0                    4       49       0
442      55.0  31.0                    3       62       0
610      70.0  12.0                    5       44       0

# Simple popularity-based recommender class (Can be used as a black box)

# Create an instance of popularity based recommender class

In [16]:
pm = Recommenders.popularity_recommender_py()
pm.create(train_data, 'user_id', 'Food name')

# Use the popularity model to make some predictions

In [17]:
user_id = users[5]
pm.recommend(user_id)

     user_id                                          Food name  score  Rank
62        48         Boots shapers cheese salad sandwich (180g)      4   1.0
91        48  Cheese & Veg. omelette (Slimming World 35-004-...      4   2.0
107       48             Chicken and Mushroom Rice (Sharwood's)      4   3.0
163       48                                  Dried Blueberries      4   4.0
231       48            Hot and spicy chicken steaks (Farmfood)      4   5.0
331       48                                      Olivio spread      4   6.0
622       48                                    light soy sauce      4   7.0
625       48                      millionaires biscuits (Fox's)      4   8.0
0         48  3 min noodles won ton flavour dry wght(Blue Dr...      3   9.0
25        48                          Asda Chicken Tikka Masala      3  10.0

In [18]:
user_id = users[16]
pm.recommend(user_id)

     user_id                                          Food name  score  Rank
62       120         Boots shapers cheese salad sandwich (180g)      4   1.0
91       120  Cheese & Veg. omelette (Slimming World 35-004-...      4   2.0
107      120             Chicken and Mushroom Rice (Sharwood's)      4   3.0
163      120                                  Dried Blueberries      4   4.0
231      120            Hot and spicy chicken steaks (Farmfood)      4   5.0
331      120                                      Olivio spread      4   6.0
622      120                                    light soy sauce      4   7.0
625      120                      millionaires biscuits (Fox's)      4   8.0
0        120  3 min noodles won ton flavour dry wght(Blue Dr...      3   9.0
25       120                          Asda Chicken Tikka Masala      3  10.0

# Create an instance of item similarity based recommender class

In [19]:
is_model = Recommenders.item_similarity_recommender_py()
is_model.create(train_data, 'user_id', 'Food name')

## Use the personalized model to make some eats recommendations

In [23]:
#Print the eats for the user in training data
user_id = users[23]
user_items = is_model.get_user_items(user_id)
#
print("------------------------------------------------------------------------------------")
print("Training data eats for the user userid: %s:" % user_id)
print("------------------------------------------------------------------------------------")

for user_item in user_items:
    print(user_item)

print("----------------------------------------------------------------------")
print("Recommendation process going on:")
print("----------------------------------------------------------------------")

#Recommend eats for the user using personalized model
is_model.recommend(user_id)

------------------------------------------------------------------------------------
Training data eats for the user userid: 67:
------------------------------------------------------------------------------------
Mediterranean Style Salad (Safeway)
double decker
Magnum ice cream lolly (Walls)
Cup a soup - chicken & sweetcorn (Tesco)
italian risotto mushroom [rice cuisine]
Chicken Jalfrezi
Sweet&sour chicken rice (tesco Kids)
Garden Pre-pack Salad (lett/tom/cuc etc)
----------------------------------------------------------------------
Recommendation process going on:
----------------------------------------------------------------------
No. of unique songs for the user: 8
no. of unique songs in the training set: 667
Non zero values in cooccurence_matrix :124

  user_id                                               song   score rank
0      67                           Hovis best of both bread  0.0625    1
1      67                     Chicken salad sandwich (Tesco)  0.0625    2
2      67                       Salad sandwich (Sommerfield)  0.0625    3
3      67  Brocolli & Chees soup (Slimming World 35-008-02s)  0.0625    4
4      67             Sains TTD Spanish paella 2portion=700g  0.0625    5
5      67                                Tesco Raisin Wheats  0.0625    6
6      67                                   Special K Medley  0.0625    7
7      67                                    Choc. Croissant  0.0625    8
8      67                           Tesco Italian Mascarpone  0.0625    9
9      67                                   BK Hot Chocolate  0.0625   10

### Use the personalized model to make recommendations for the following user id. (Note the difference in recommendations from the first user id.)¶

In [24]:
user_id = users[7]
#Fill in the code here
user_items = is_model.get_user_items(user_id)
#
print("------------------------------------------------------------------------------------")
print("Training data eats for the user userid: %s:" % user_id)
print("------------------------------------------------------------------------------------")

for user_item in user_items:
    print(user_item)

print("----------------------------------------------------------------------")
print("Recommendation process going on:")
print("----------------------------------------------------------------------")

#Recommend songs for the user using personalized model
is_model.recommend(user_id)

------------------------------------------------------------------------------------
Training data eats for the user userid: 5:
------------------------------------------------------------------------------------
Olivio spread
Individual Bakewell Tart (Tesco)
Benecol Strawberry Yoghurt
Chinese veg stir fry
St Pierre Brioche
Tesco Organic Sundried Tomato Houmous
Montana Bakery garlic doughballs (9g each)
----------------------------------------------------------------------
Recommendation process going on:
----------------------------------------------------------------------
No. of unique songs for the user: 7
no. of unique songs in the training set: 667
Non zero values in cooccurence_matrix :89

  user_id                                           song     score rank
0       5  Craisins cranberries (Original) - Ocean Spray  0.071429    1
1       5                              LF Prawn Cocktail  0.071429    2
2       5                                  kettle crisps  0.071429    3
3       5        Spaghetti Bolognese ready meal (Tesco)   0.071429    4
4       5                              Solero ice cream   0.071429    5
5       5                            Rocky Biscuit (Red)  0.047619    6
6       5               Marshmallow teacakes (Tunnocks)   0.047619    7
7       5                              Tagliatelle (Dry)  0.047619    8
8       5              Heinz mild mustard pickle (Heinz)  0.047619    9
9       5                 snack a jacks cheese and chive  0.047619   10

### Model to find similar eats to any eats in the dataset

In [28]:
is_model.get_similar_items(['LF Prawn Cocktail'])

no. of unique songs in the training set: 667
Non zero values in cooccurence_matrix :10

  user_id                                           song     score rank
0          Craisins cranberries (Original) - Ocean Spray  1.000000    1
1             Somerfield Raspberry Pavlova (serving=57g)  0.500000    2
2                    Garlic mayonaise (Simply Delicious)  0.500000    3
3                                              diet 7 up  0.500000    4
4                       Individual Bakewell Tart (Tesco)  0.500000    5
5                                    Tesco Brussels Pate  0.333333    6
6                         mexican sauce- chicken tonight  0.333333    7
7                    Minced beef casserole (Sainsbury's)  0.333333    8
8                             Chicken pie (Lean Cuisine)  0.333333    9
9                 Sainsbury's Oriental Vegetable Stirfry  0.000000   10