# Загружаем библиотеки

In [2]:
%matplotlib inline

import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
import time
from sklearn.externals import joblib
import Recommenders as Recommenders
import Evaluation as Evaluation

# Загружаем Dataset с рейтингом еды, а также смотрим сколько уникальных пользователей и блюд

In [6]:
rating = pd.read_csv('Dataset/Eats_Rating_Dataset.csv', encoding = 'utf-8')

#Count unique data in dataset
users = rating['user_id'].unique()
print('Users:', len(users))

eats = rating['eats_id'].unique()
print('Eats:', len(eats))

print('All dataset', rating.shape)

Users: 120
Eats: 775
All dataset (1200, 3)

In [10]:
#Загружаем датасет с названием еды
eats_names = pd.read_csv('Dataset/Eats_Names_Dataset.csv', encoding = 'utf-8')
eats_names.rename(index=str,columns={'eat_id':'eats_id'}, inplace=True)

All dataset (1232, 6)

In [12]:
#rating.head(3)

In [11]:
#eats_names.head(3)

In [13]:
result = pd.merge(eats_names, rating, on='eats_id')

# Финальный датасет

In [14]:
print(result.shape)
result.head()

(1199, 8)

,eats_id,Food name,CHO (g/100g),GI value,GL,GI confidence level,user_id,rating
0,1,Goats milk soft cheese. full fat. white rind,1.0,34.0,0.0,3,66,1
1,6,Chinese herb soup. mixture 3. ching bo leung. ...,3.7,70.0,3.0,5,47,1
2,9,Sag. cooked dish,5.5,70.0,4.0,5,35,0
3,10,Milk cow's. powder. skimmed,52.8,45.0,24.0,4,3,0
4,10,Milk cow's. powder. skimmed,52.8,45.0,24.0,4,65,1

# Создаем рекомендации еды

In [29]:
train_data, test_data = train_test_split(result, test_size = 0.20, random_state=0)

In [30]:
pm = Recommenders.popularity_recommender_py()
pm.create(train_data, 'user_id', 'Food name')

# Делаем предсказание еды для определенного пользователя

In [40]:
number_user_id = 4
user_id = users[number_user_id]
pm.recommend(user_id)

     user_id                                          Food name  score  Rank
62         1         Boots shapers cheese salad sandwich (180g)      4   1.0
91         1  Cheese & Veg. omelette (Slimming World 35-004-...      4   2.0
107        1             Chicken and Mushroom Rice (Sharwood's)      4   3.0
163        1                                  Dried Blueberries      4   4.0
231        1            Hot and spicy chicken steaks (Farmfood)      4   5.0
331        1                                      Olivio spread      4   6.0
622        1                                    light soy sauce      4   7.0
625        1                      millionaires biscuits (Fox's)      4   8.0
0          1  3 min noodles won ton flavour dry wght(Blue Dr...      3   9.0
25         1                          Asda Chicken Tikka Masala      3  10.0